*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgba(69, 69, 69,0.95);
    padding: 10px;
    
}
nav{
    display: flex;
    justify-content: center;
}
.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 90%;
     

}
.nav-links li a{
    color: white;
    text-decoration: none;
}
.middle{
text-align: center;
color: white; 
}
.iphone{
    background: url("./iphon16pro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    background-position: center;
    padding: 50px;
    margin: 0 0 14px 14px;

    
}
.iphone h1{
    font-size: 60px;
}
.iphone h2{
    padding: 10px;
    font-size: 30px;
}
  .btn {
    background-color: blue;
    color: white;
    font-size: 22px;
    border: none;
    border-radius:80px;
    width: 250px;
    height: 90px;
    padding: 5px;
    border: 2px solid;

  }
  .buy{
    background-color: rgb(94, 89, 89);
    color: white;
    font-size: 18px;
    border-radius: 60px;
    width:150px ;
    height: 80px;
    padding: 5px;
    margin: 25px;
    border: 2px solid;

  }
  .btn:hover {
    background-color: rgb(110, 106, 106);
border: 2px solid;

  }
.buy:hover{
    
border: 2px solid;
background-color: blue;
} 

.iphone-16{
    background: url("./iphone16.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    padding: 80px;
    margin: 15px;
}
.center{
    text-align: center;
    color: white;
}
.center h1{
font-size: 60px;
}
.center h2{
font-size: 30px;
}
#learn{
    border-radius: 80px;
    font-size: 20px;
    width: 200px;
    height: 100px;
    background-color: blue;
    border: 2px solid;
    border-color: blueviolet;
}
#buy{
    border-radius: 50px;
    font-size: 16px;
    width: 120px;
    height: 80px;
    margin: 20px;
}
#learn:hover{
    background-color: rgb(87, 86, 84);
}
#buy:hover{
    border: 2px solid;
    background-color: rgb(198, 122, 29);
}
.watch{
    background: url("./watch_hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    margin: 10px;
    margin-bottom: 26px;
    
}
.time{
    text-align: center;
    padding: 28px;
}
.learn-more{
    background-color: blue;
    border: solid 2px;
    border-radius: 45px;
    width: 160px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
}
.learn-more:hover{
    background-color: rgb(195, 243, 4);
}
.buy-1{
    font-size: 20px;
    border-radius: 45px;
    width: 120px;
    height: 60px;
    background-color: rgb(164, 132, 92);
   margin-left: 10px; 
}


.buy-1:hover{
    background-color: aliceblue;
}
.time h3{
    font-size: 24px;
}
.s{
    display: flex;
    gap: 13px;
    margin: 10px 10px 10px 10px;
   
}
   .container{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
     flex: 1; 
   }
   .ipad-pro{
    text-decoration: none;
    text-align: center;
    color: rgb(31, 31, 31);
    padding: 30px;
   }
   .ipad-pro h2{
    padding: 10px;
   }
 #learn-more{
    background-color: blue;
    border: solid 2px;
    border-radius: 45px;
    width: 160px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
 }
 #learn-more:hover{
    background-color: yellow;
 }
 #buy-1{
    font-size: 20px;
    border-radius: 45px;
    width: 120px;
    height: 60px;
    background-color: rgb(164, 132, 92);
    margin-left: 10px;
}
#buy-1:hover{
    background-color: aliceblue;
}
.container-1{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    flex: 1; 
   
}
.mac-book{
    text-decoration: none;
    text-align: center;
    color: rgb(31, 31, 31);
    padding: 30px;
   }
   .mac-book h2{
    padding: 10px;
}
#learn-more-1{
    background-color: blue;
    border: solid 2px;
    border-radius: 45px;
    width: 160px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
 }
 #learn-more-1:hover{
    background-color: yellow;
}
#buy-2{
    font-size: 20px;
    border-radius: 45px;
    width: 120px;
    height: 60px;
    background-color: rgb(164, 132, 92);
    margin-left: 10px;
}
#buy-2:hover{
    background-color: aliceblue;
}

.container-2{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
     flex: 1; 
}
.moder-watch{
    text-decoration: none;
    text-align: center;
    color: rgb(235, 230, 230);
    padding-top: 43px;
   
}
#learn-more-2{
    background-color: blue;
    border: solid 2px;
    border-radius: 45px;
    width: 160px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
}
#learn-more-2:hover{
    background-color: aqua;
}
#buy-3{
    font-size: 20px;
    border-radius: 45px;
    width: 120px;
    height: 60px;
    background-color: rgb(164, 132, 92);
    margin-left: 10px;
}
.shop{
    text-decoration: none;
}
.shop:hover{
    text-decoration: underline;
}
.para-1{
    padding: 10px;
    font-size: 19px;
}
#buy-3:hover{
    background-color: rgb(24, 125, 213);
}
 .gallery {
    display: flex;
    gap: 15px;
    margin: 20px 50px 20px 20px;
    
  }
  
  .gallery-item {
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    width: 500px;
    height: 400px;
  }
  
  
  .gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
    padding: 20px;
    margin: 0%;
  }
  
  .gallery-item:hover .gallery-img {
    transform: scale(1.4) rotate(2deg);
    filter: brightness(1.1) saturate(1.2);
  }
  
  .gallery-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.3s ease; 
  }
  
   .gallery-item:hover::after {
    opacity: 76;
  }

.column{
    display: flex;
    text-decoration: none;
    gap: 80px;

}
.column ul li{
    list-style: none;
justify-content: space-between;

}
.column ul li:hover{
    background-color: burlywood;
}
h5:hover{
   background-color: chartreuse;
   
}
.apple-s1 img{ 
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
   

}
.apple-s1{
    position: relative;
    overflow: hidden;
     padding: 5px 10px 10px ;
}

.web {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
    width: 100%;
     padding: 5px 10px 10px 10px;
}

.web h1 {
    color: white;
    
    font-size: 90px;
    margin-bottom: 20px;
}
.cr7{
    border-radius: 20px;
    width: 150px;
    height: 60px;
    background-color: blue;
    font-size: 20px;
}
.cr7-1{
    border-radius: 20px;
    width: 100px;
    height: 49px;
    background-color: #a894a6;
    font-size: 20px;
}


.butn-0 {
    display: flex;  
    gap: 20px;
    justify-content: center;
}
.cr7:hover{
    background-color: darkgray;
}
.cr7:active{
    background-color: darkgray;
}
.cr7-1:hover{
    background-color: rgb(10, 161, 237);
}
.post{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.list{
    text-align: center;
    padding-top: 27px;
}
.btn-00{
    width: 160px;
    height: 70px;
    border-radius: 20px;
    background-color: rgb(152, 152, 238);
    font-size: 20px;
}
.btn-01{
    width: 110px;
    height: 60px;
    border-radius: 20px;
    background-color: rgb(110, 133, 156);
    font-size: 20px;
    margin-left: 15px;
}
.btn-01:hover{
    background-color: chartreuse;
}
.btn-00:hover{
  background-color: rgb(239, 9, 209);
}
  .app{
    width: 100%;
    height: 90vh;
  
      
  }
  .app-1{
    margin: 20px 20px 0 20px;
    display: flex;
  
    gap: 10px;
   
} 


.app-2{
    width: 100%;
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
    
}
.app-3{
    text-align: center;
    padding-top: 17px;
}
.btn-z{
    
    width:130px;
    height:46px;
    background-color:rgb(200,4,192);
    border-radius: 12px;
    font-size:23px;
    margin-left:11px;
   
}
.btn-z:hover{
    background-color: rgb(95, 95, 125);
}
.btn-s{
    
    width:170px;
    height:66px;
    background-color:rgb(36, 2, 255);
    border-radius: 12px;
    font-size:23px;
   
}
.seya1{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90vh;
    
}

    .seya-1 {

   text-align: center; 

}
.seya-11{
    padding-bottom: 70px;
    margin-bottom: 600px;
}
  

